.hero {
  position: relative;
  background-image: linear-gradient(to bottom,
      #363636,
      #3c3c3c,
      #424242,
      #494949,
      #4f4f4f,
      #5e5d5e,
      #6d6b6e,
      #7d7a7d,
      #9d9497,
      #bdafaf,
      #ddcdc6,
      #f8ecde);

  &__center {
    position: relative;
    min-height: 100vh;
    display: grid;
    padding: 3rem 0 5rem 0;
    @include maxWidth;

    @include deskopSize() {
      align-items: center;
    }
  }

  &__content {
    &-text {
      h1{

      color: $color-text;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 3.5rem;
      text-align: center;
      visibility: hidden;

      @media (max-width: 315px) {
        font-size: 3rem;
      }

      @media (max-width: 275px) {
        font-size: 2.25rem;
      }

      @include mediumSize {
        font-size: 7rem;
        line-height: 6.5rem;
        text-align: initial;
      }

      @include deskopSize() {
        margin-top: -10rem;
        color: $color-text-dark;
      }
    }
  }


    &-name {
      display: block;

      @include mediumSize {
        margin-left: 2rem;
      }
    }

    &-lastName {
      display: block;
      word-break: break-all;

      @include mediumSize {
        margin-left: 8rem;
      }
    }
  }

  &-imageBox {
    position: absolute;
    display: flex;
    top: 23%;
    align-items: center;
    visibility: hidden;
    right: 0;
    max-height: 100%;
    flex-direction: column;

    @include deskopSize() {
      justify-content: flex-end;
      top: 15%;
    }
    @media screen and (min-height: 1100px ) {
      top:25%;
    }
    @media screen and (min-height: 1300px ) {
      top:30%;
    }
    @media screen and (min-height: 1600px ) {
      top:40%;
    }
  }

  &-image {
    max-height: 500px;
    width: 100%;

    @include deskopSize() {
      width: initial;
    }

    &-btn {
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      width: 80%;
      border-radius: 90rem;
      border: transparent;
      font-family: inherit;
      color: $color-text-dark;
      font-weight: bold;
      visibility: hidden;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.3s;
      outline: none;
      transform: translate(0px, 0px);
      box-shadow: 0px 5px 10px 2px rgba($color-light-black, 0.7);

      &:hover,
      &:focus,
      &:active {
        color: rgba($color-text, 0.3);
        transform: translate(0px, 5px);
        box-shadow: 0px 1px 4px 1px rgba($color-light-black, 0.4);
      }
    }
  }
}

$color-box: #fff;
$color-shadow: #65c1ff;

.about {
  position: absolute;
  top: -40%;
  width: 100%;
  height: 290px;
  visibility: hidden;

  @include deskopSize() {
    left: -70%;
    top: -20%;
  }
}

.about-context {
  position: absolute;
  width: 100%;
  height: 290px;
  padding: 100px 30px 0px 30px;
  border-bottom-right-radius: 50%;
  border-bottom: 5px solid $color-shadow;
  text-align: center;
  color: #00bfb6;
  font-size: 1.25rem;
  opacity: 0;
  background-color: #fff;

  @include mediumSize() {
    border-radius: 50%;
    padding: 100px 100px;
    border: 5px solid $color-shadow;
  }

  @include deskopSize() {
    padding: 85px 50px 0 50px;
  }

  &-btn {
    position: absolute;
    bottom: 7%;
    right: 35%;
    background-color: transparent;
    opacity: 0;
    border: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: inherit;
    padding: 0.25rem 1rem;
    cursor: pointer;
    font-weight: 700;
    color: #0a76be;

    @include deskopSize() {
      right: 27%;
    }
  }
}

.circle1 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: 30%;
  bottom: -30%;
  opacity: 0;
  background-color: #fff;

  @include deskopSize() {
    left: initial;
    right: -20px;
    bottom: 25px;
  }
}

.circle2 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 5px;
  height: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: 40%;
  bottom: -45%;
  opacity: 0;

  @include deskopSize() {
    left: initial;
    right: -60px;
    bottom: 0px;
  }
}

@media screen and (max-width: 380px) {
  .about-context {
    height: 270px;
    padding: 80px 30px 0px 30px;
  }

  .circle1 {
    bottom: -10%;
  }

  .circle2 {
    bottom: -23%;
  }
}

@media screen and (max-width: 350px) {
  .about-context {
    height: 250px;
    padding: 50px 30px 0px 30px;
  }

  .circle1 {
    bottom: -5%;
  }

  .circle2 {
    bottom: -15%;
  }
}

