.smartphone {
  position: relative;
  width: 360px;
  height: 85vh;
  max-height: 640px;
  border: 5px black solid;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-radius: 36px;
  background-color: black;


  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(63, 62, 59);
    box-shadow: 0px 0px 0px 4px #222;
    border-radius: 10px;
    z-index: 11;
  }

  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 40px;
    position: absolute;
    top: 120px;
    right: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
  }

  .content {
    height: 100%;
    border-radius: 36px;
    display: grid;
    overflow: hidden;
    position: relative;
  }

  &-img {
    object-fit: cover;
    width: 350px;
  
  }

  &-nav {
    font-size: 2rem;
    color: #111;
    position: absolute;
    opacity: 0;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $color-light-black-2;
    }
  }

  &-prev {
    left: 0.5rem;
  }

  &-next {
    right: 0.5rem;
  }
}